@font-face {
    font-family: "RobotoMono";
    src: url(Roboto_Mono/RobotoMono-VariableFont_wght.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(212, 209, 209);
    height: 100vh;
}

.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

.navbar a:hover{
    background-color: black;
}

.navbar a{
    float: left;
    border-right: 1px solid #bbb;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.navbar a.active{
    background-color: rgb(79, 180, 140);
    color: white;
}

.dropdown-nav{
    float: left;
    overflow: hidden;
    border-right: 1px solid #bbb;
}

.dropdown-nav .dropdownbtn{
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-modules{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-modules a{
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-modules a:hover{
    background-color: #f9f9f9;
}

.dropdown-nav:hover .dropdown-modules{
    display: block;
}
.hidden{
    display: none;
}

#sorting-bars{   /*window for sorting the rectangles*/
    display: flex;
    color: red;
    justify-content: center;
    height: 600px;
    flex-direction: row;
    padding: 20px 20px 0px 20px;
}

.sortItem{
    width: 20px;
    background-color: blue;
    background-clip: content-box;
    padding: 3px;
}


#sorting-parameters{
    background-color:#948d99;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    
}

#sorting-parameters .sort-btns{
    background-color:#948d99;
    float:left;
    display: block;
    text-align: center;
    padding: 30px 3%;
    border: none;
}

#sorting-parameters .sort-btns:hover{
    background-color:#736c77;
}


#sorting-parameters .speed-range{
    display: flex;
    float: left;
    align-items: center;
    padding: 0px 30px;
}

#sorting-parameters .speed-range p{
    float: left;
    font-size: 20px;
    text-align: center;
    padding: 0px 15px;
}